/bootstrap/compiled.php
/wordpress/wp-content/uploads/
/vendor
/public/img/artists
/public/img/catalogues
.idea/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.cpanel/
.dns
.ftpquota
.lastlogin
.viminfo
access-logs
etc/
logs/
public_ftp/
tmp/
www
/app/config/database.php
/wordpress/wp-config.php
/wordpress/wp-admin/error_log
.composer/
.vim/

.ssh/known_hosts
.gitconfig