@import url(http://fonts.googleapis.com/css?family=Roboto:100|Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Ovo);

body {
    padding-top: 0;
    padding-bottom: 30px;
    font-family: 'Ovo', sans-serif;
    background-color: #CC9;
    background-image: url('/img/theme/gemini/background.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

p, td {
    font-family: 'Ovo', sans-serif;
    font-size: 1.2em;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.logo-xs {
    display: none;
}
/* carousel */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
    margin-bottom: 0;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
    border-bottom: 2px solid #e7e7c6;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
        text-align: center;
}
.carousel-inner > .item > img {
/*
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
*/
    display: inline-block;
    max-width: none;
    max-height: 100%;
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;

}

.carousel-inner>.item>a>img {
    max-width: none;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.actions a {
    width: 160px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
    .carousel-inner > .item > img {
        max-width: none;
        max-height: 100%;
        position: absolute;
        top:inherit;
        bottom: inherit;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
}

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

}
/* end caurosel */

/* adheres to bootstrap col-lg */
@media (min-width: 1200px) {
    .col-lg-8.featured .card a.card-image {
        height: 764px;
    }

    .col-lg-8.featured .card figcaption {
        font-size: 1.3em;
    }
}

/* custom styles */

img {
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
  margin-top: 25px;
}

.row {
}

.row .row {
}

.row [class*="col-"] {
/*
    padding-top: 15px;
    overflow: hidden;
    padding-bottom: 5em;
    text-align: center;
*/
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

[class*="col-"] img {
    max-width:100%;
    max-height: 100%;
}


/* hacked custom */
.color-text {
    z-index: 10;
    position: absolute;
    padding-bottom: 40px;
    left: 40%;
    top: 33%;
    width: 420px;
    margin-left: -475px;
    color: #222222;
}

.color-text p {
    font-size: 18px;
}

.color-text h1 {
    font-size:64px;
}

.color-text h2 {
    font-style: italic;
}

.intro-header {
    zoom: 1;
    position: relative;
    margin: 0 auto 25px;
    padding: 60px 0 30px 0;
}

.intro-header h2 {
    font-size: 33px;
}

.logo {
    overflow: visible;
    margin-top: 0;
    height: 49px;
    width: 510px;
    padding-top:0;
}

/*
.container>.navbar-header {
    float: left;
    height: 40px;
    float: left;
    width: auto;
    clear: left;
    margin-left: 100px;
}
*/

.collapse.navbar-collapse {
    float: left;
    height: 80px;
    width: auto;
}

.contact-info {
    text-align: right;
    margin: 5px 0;
    color: #555;
    line-height: 18px;
    font-size: 15px;
    padding-top: 5px;
}

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

.tt-dropdown-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.table-of-contents li a {
    font-size: 16px;
    color: #999;
}

.title,
.example-name {
    font-family: Prociono;
}

p + p {
    margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}

.twitter-typeahead {
    vertical-align: middle;
    float: right;
}

.typeahead,
.tt-query,
.tt-hint {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 16px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 12px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}

h3.table-name {
    font-weight: bold;
}

/* construction CSS, pardon the dust! */
.navbar {
    background:none;
}

#multiple-datasets label,
#multiple-datasets .btn-primary{
    display: none;
}

.collapse .navbar-nav {
    margin-left: 100px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #111;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #eee;
}

.navbar-inverse .navbar-nav.navbar-secondary {
    float: right;
}

.navbar-inverse .navbar-nav.navbar-secondary>li>a {
    font-weight:normal;
    font-size:13px;
    color: #6383a1;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: none;
    letter-spacing: 0.05em;
}

.breadcrumb>li+li:before {
    content: "\003e";
    padding: 0 5px;
    color: #666;
}

.breadcrumb>.active {
    color: #666;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb li>a {
    text-transform: uppercase;
}

.contact-us-info {
    float: left;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6c6c6c;
    font-family: 'Arial', sans-serif;
    line-height: 20px;
    letter-spacing: 0.03em;
    border-top: 2px solid transparent;
}

.contact-us-info span.phone-number {
    font-weight: bold;
}


.card {
/*    width: 280px;*/
    border: 1px solid #ddd;
    padding: 15px 15px 15px;
    margin: 30px 0 0 0;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background: #f2f0f0;
    text-align: center;
}

.card.blank {
    background: transparent;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.card p,
.card a {
    text-align: left;
}

.card a.card-image {
    display: block;
    height: 320px;
    min-height: 320px;
    text-align: center;
}

.card figcaption {
    text-align: left;
}

.card-details {
    background: transparent;
    overflow: hidden;
}

.card-details figure {
    max-width: 450px;
    float: left;
}

.card-details .catref.specs {
    width: 450px;
    float: left;
}

@media (max-width: 1280px) {

    .size-l {
        display: none !important;
    }

    .navbar-inverse .navbar-nav>li>a {
        letter-spacing: 0;
    }

    .navbar-inverse .navbar-nav.navbar-secondary>li>a {
        font-weight:normal;
        font-size:12px;
        letter-spacing: 0;
    }
}

@media (max-width: 1024px) {

    body {
        font-size: 13px;
    }

    .contact-us-info {
        font-size: 13px;
    }

    .size-m {
        display: none !important;
    }

    .collapse .navbar-nav a{
        padding: 15px 10px;
    }

    .navbar-inverse .navbar-nav>li>a {
        letter-spacing: 0;
    }
}

@media (max-width: 1023px) {

    .size-s {
        display: none !important;
    }
}

@media (max-width: 767px) {

    body {
        background: #eee;
        font-family: inherit;
    }

    .container>.navbar-header{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .size-xs {
        display: none;
    }

    .collapse .navbar-nav {
        margin-left: 0;
    }

    .logo-xs {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 50px;
    }

    #multiple-datasets {
        width: 100px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    /* Carousel base class */
    .carousel {
        height: 180px !important;
    }

    .carousel .item{
        height: 180px !important;
    }

    .jumbotron {
        padding: 0;
    }

    .table th {
        display: none;
    }

    .actions a {
        width: 100%;
        margin-bottom: 5px;
    }

    footer {
        display: none;
    }

    .card-details .catref.specs {
        width: 100%;
    }

    figcaption {
        display: none;
    }

}


.zoom {
    height: 100%;
}

h3.featured,
h3.featured a{
    font-size: 1.5em;
    font-weight: bold;
}