@import url(http://fonts.googleapis.com/css?family=Roboto:100|Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Ovo);

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

body {
    padding-top: 0;
    padding-bottom: 30px;
    font-family: 'Ovo', sans-serif;
    background-color: #CC9;
    background-image: url('/img/theme/gemini/background.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

p, td {
    font-family: 'Ovo', sans-serif;
    font-size: 1.2em;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Bootstrap overrides */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
/********/

.logo {
    overflow: visible;
    margin-top: 0;
    height: 49px;
    width: 510px;
    padding-top:0;
}

.logo-xs {
    display: none;
}

.intro-header {
    zoom: 1;
    position: relative;
    margin: 0 auto 25px;
    padding: 0 0 30px 0;
}

/* Breadcrumbs */
.breadcrumb>li+li:before {
    content: "\003e";
    padding: 0 5px;
    color: #666;
}

.breadcrumb>.active {
    color: #666;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb li>a {
    text-transform: uppercase;
}
/**********/

/* Random */
/* call to action buttons */
.actions a {
    width: 160px;
}

.read-more {
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
}

a.img-av {
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d8dde6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.img-av:hover {
    border-color: #e47911;
}

a.img-av img {
    height: 120px;
}
/*****/