/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
    margin-bottom: 0;
    border-bottom: 2px solid #e7e7c6;

}

/* allows search to be next to nav */
.collapse.navbar-collapse {
    float: left;
    height: 80px;
    width: auto;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

.nav-multi-list {
    display: block;
    float: left;
    list-style: none;
    background-clip: padding-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 0;
}

.nav-multi-list li>a {
    display: block;
    padding: 3px 20px 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus {
    background-image: none;
    background-color: #6f92b3;
    color: #ffffff;
    text-decoration: none;
}

.collapse .navbar-nav {
    margin-left: 100px;
}

.navbar-nav>li>a {
    color: #111;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.navbar-nav>li>a:hover {
    color: #eee;
    background: none;
}

.navbar-nav.navbar-secondary {
    float: right;
}

.navbar-nav.navbar-secondary>li>a {
    font-weight:normal;
    font-size:13px;
    color: #6383a1;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: none;
    letter-spacing: 0.05em;
}

.contact-us-info {
    float: left;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6c6c6c;
    font-family: 'Arial', sans-serif;
    line-height: 20px;
    letter-spacing: 0.03em;
    border-top: 2px solid transparent;
}

.contact-us-info span.phone-number {
    font-weight: bold;
}
