@import url(http://fonts.googleapis.com/css?family=Roboto:100|Roboto+Slab:400,300);

body {
    padding-top: 101px;
    padding-bottom: 30px;
        font-family: 'Roboto';
/*    background: #cccc99 url('http://www.masterworksfineart.com/foxy/public/skins/blues/images/background.png');*/
    background:#000000;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}



/* carousel */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
        text-align: center;
}
.carousel-inner > .item > img {
/*
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
*/
    display: inline-block;
    max-width: none;
    max-height: 100%;
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;

}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
    .carousel-inner > .item > img {
        max-width: none;
        max-height: 100%;
        position: absolute;
        top:inherit;
        bottom: inherit;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
}

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

}
/* end caurosel */


/* custom styles */

img {
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
    overflow: hidden;
    height: 360px;
    padding-bottom: 5em;
    text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

[class*="col-"] img {
    max-width:100%;
    max-height: 100%;
}


/* hacked custom */
.color-text {
    z-index: 10;
    position: absolute;
    top: 33%;
    left: 70%;
    width: 400px;
    margin-left: -200px;
    padding-bottom: 40px;
    left: 40%;
    top: 33%;
    width: 420px;
    margin-left: -475px;
}

.color-text p {
    font-size: 18px;
}

.color-text h1 {
    font-size:64px;
}

.color-text h2 {
    font-style: italic;
}

.intro-header {
    zoom: 1;
    position: relative;
    margin: 0 auto 25px;
    padding: 60px 0 30px 0;
}

.intro-header h2 {
    font-size: 33px;
}

.logo {
    overflow: visible;
    margin-top: -3px;
    height: 60px;
    float: left;
    padding-top:10px;
}

.container>.navbar-header {
    float: left;
    height: 40px;
    float: left;
    width: auto;
    clear: left;
    margin-left: 150px;
}


.collapse.navbar-collapse {
    float: left;
    height: 40px;
    float: left;
    height: 80px;
    width: 509px;
    width: auto;
    float: none;
}

.contact-info {
    text-align: right;
    margin: 5px 0;
    color: #555;
    line-height: 18px;
    font-size: 15px;
    padding-top: 0.5em;
}

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

.tt-dropdown-menu,
.gist {
    text-align: left;
}

/* base styles */
/* ----------- */

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

a {
    color: #03739c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.table-of-contents li a {
    font-size: 16px;
    color: #999;
}

.title,
.example-name {
    font-family: Prociono;
}

p + p {
    margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
    margin: 20px 0 0 0;
    font-size: 64px;
}

.example {
    padding: 30px 0;
}

.example-name {
    margin: 20px 0;
    font-size: 32px;
}

.demo {
    position: relative;
    *z-index: 1;
    margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
    text-align: right;
}

h3.table-name {
    font-weight: bold;
}


/* construction CSS, pardon the dust! */
.navbar {
    margin-top: -92px;
}

#multiple-datasets label,
#multiple-datasets .btn-primary{
    display: none;
}
