.artworks .card {
    overflow: hidden;
}

.col-md-4.artworks {
    width: 100%;
}

.artworks .card {
    margin: 0;
}

.artworks .card a.card-image {
    float: left;
    max-height: 110px;
    min-height: 110px;
    width: 110px;
    height: 110px;
    margin-right: 15px;
}

.col-lg-8.artworks.featured .card a.card-image {
    height: inherit;
}
