.card {
    overflow: hidden;
}

.col-md-4 {
    width: 100%;
}

.card a.card-image {
    float: left;
    height: 110px;
    min-height: 110px;
}

.col-lg-8.featured .card a.card-image {
    height: inherit;
}
