body {
    background:#eee;
}

#slider-thumbs ul {
    height: 600px;
}

#slider-thumbs ul li {
    height: 32%;
}

#slider-thumbs a.carousel-thumb-3 {
    display: table;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ccc;
}

#slider-thumbs a.carousel-thumb h4 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

.carousel .item {
    text-align: left;
}

.carousel .item > div {
    display: table;
    height: 600px;
    text-align: center;
}

.carousel .item a {
    display: block;
}

.carousel .item .item-copy {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    font-size: 0.8em;
    text-align: left;
}

.carousel .item .item-img img{
    display: inline;
    max-height: 600px;
}