body {
}

#slider-thumbs ul {
    height: 600px;
}

#slider-thumbs ul li {
    height: 32%;
}

#slider-thumbs a.carousel-thumb-3 {
    display: table;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ccc;
}

#slider-thumbs a.carousel-thumb h4 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

.carousel {
    margin-bottom: 0;
}

.carousel .item {
    text-align: left;
}

.carousel .item > div {
    display: table;
    height: 600px;
    text-align: center;
}

.carousel .item > .item-img {
    display: block;
}

.carousel .item a {
    display: block;
}

.carousel .item .item-copy {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    font-size: 0.8em;
    text-align: left;
}

.carousel .item .item-img img{
    display: inline;
    max-height: 600px;
}

p + p {
    margin: 0 0 10px;
}

p {
    letter-spacing: 0.03em;
    color: #222222;
}

.paper p {
    font-family: 'Ovo', sans-serif;
}

.card p,
.paper p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card p {
    font-size: 14px;
    color: #777;
}

.card.plain {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.card.plain b {
    font-weight: normal;
    text-transform: uppercase;
    color: #444;
}

.card.plain p a {
    color: #444;
}

.card.card-sm a.card-image {
    height: 220px;
    min-height: 220px;
    text-align: center;
}

.post {
    text-align: center;
}

.post-img {
    height: 250px;
    width: 75%;
    overflow: hidden;
    margin: 0 auto;
}

.post-img img {
    min-height: 250px;
    min-width: 100%;
    max-width: inherit;
    max-height: inherit;
}


.artist {
    text-align: center;
}

.artist-img {
    height: 250px;
    width: 75%;
    overflow: hidden;
    margin: 0 auto;
}

.artist-img img {
    min-height: 250px;
    min-width: 100%;
    max-width: 150%;
    max-height: 150%;
}

.container.spacy {
    padding: 30px 0;
    border-top: 1px solid #cccccc;
}

.jumbotron.spacy {
    margin: 30px 0;
}

.container.spacy .read-more {
    margin: 45px 0;
}

.container h2,
.container h3 {
    margin: 30px 0;
    font-size: 18px;
    text-align: center;
}

.container h2 a,
.container h3 a {
    color: #333333;
}

footer {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table>tbody {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table>tbody>tr>th {
    font-weight: normal;
    color: #999;
}


@media (max-width: 767px) {

    .listable .artworks .card {
        overflow: hidden;
    }

    .listable .card {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 15px 5px;
        margin: 30px 0 0 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        background: #f2f0f0;
        text-align: center;
    }


    .listable .col-md-4.artworks {
        width: 100%;
    }

    .listable .artworks .card {
        margin: 0;
    }

    .listable .artworks .card a.card-image {
        float: left;
        max-height: 150px;
        min-height: inherit;
        width: 150px;
        margin-right: 15px;
    }

    .listable .col-lg-8.artworks.featured .card a.card-image {
        height: inherit;
    }

    .container h2,
    .container h3 {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }

    .container .paper h2,
    .container .paper h3 {
        margin: 15px 0;
    }

    .card p, .paper p {
        font-size: 15px;
    }

    .card a.card-image {
        display: block;
        height: inherit;
        min-height: inherit;
        text-align: center;
    }

    .container.spacy {
        padding: 1em 0;
    }

    .collapse .navbar-nav {
        margin-left: inherit;
    }

    .dropdown-menu .divider {
        margin: 0;
    }

    .navbar-collapse {
        max-height: none;
    }

    h1, .h1 {
        font-size: 18px;
    }

    .intro-header {
        padding: 0;
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        left: inherit;
    }

    span.artist-alias a {
        font-weight: bold;
    }

    span.artwork-after {
        font-style: italic;
    }

    span.artwork-tagline {
        font-style: italic;
    }

    .artists .card a.card-image {
        display: none;
    }

    .card figcaption {
        height: inherit;
        margin-top: 0;
    }

    .dropdown.open h3.featured, .dropdown.open h3.featured a, .dropdown.open ul.featured>li>a {
        font-size: 1.5em;
    }
}
